html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ------ Typography -------*/
body{font-family: 'Genos', sans-serif;}

/* ------ Fluid Images -------*/

img{
  max-width:100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* ------ Utility Classes  -------*/
.container{
  margin:0 auto;
  background:rgba(0,0,0,.15);
  
}

/* ------ Helper Classes -------*/
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/* ------ Global Styles -------*/
/*
**********Color Scheme**********
***#00010D
***#010D00
***#667353
***#7F8C6C
***#97A681
*/
body{
  background-color:#97A681;
  color:#010D00;
  line-height:1.6;
  font-size:1.5em;
  
}
a:link, a:visited{
  color:#222;
}
nav{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding:20px 20px 0px 20px;
}
nav a:link, nav a:visited{
  /*border:1px solid #000;*/
  padding:8px 16px;
  text-align:center;
  text-decoration:none;
  color:#00010D;
  font-size:1em;
  background:rgba(102, 115, 83, .65);
  transition: background-color .7s ease;
  color:#fff;
}
nav a:hover{
  background:rgba(1, 13, 0,.75);
  border: 2px solid #010D00
}

main{
 padding: 1px 20px;
}
/*****************GRID CONTAINER DEFINITION*****************/


main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:500;
  font-variant:small-caps;
 }
 main h1:before, main h1:after {
   background-color: #010D00;
   content: '\a0';
   flex-grow: 1;
   height: 2.5px;
   position: relative;
   top: 0.77em;
 }
main h1:before{
  margin-right:15px;
}
main h1:after{
  margin-left:15px;
}
dl{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns:8em 1fr;
  /*shorthand
  grid-template: auto / 8em 1fr;*/
}
dt{
  font-weight:800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom:1px solid #667353;
}
dd{
  margin:0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom:1px solid #667353;
}
/*video starts at 46:27*/


#skills{
    display:block;
    position:relative;
    margin:20px auto;;
    padding:20px 30px 0; /* border space */
    width:420px;
    overflow:hidden;
}
#skills:before, #skills:after,.slanted-top:before{
    position:absolute;
    top:20px;
    left:0;
    border:solid transparent;
    border-top-color:tan;
    border-width:400px 0 0 30px; /* left border (top as max box height) */
    width:0;
    height:0;
    content:"\a0";
}
#skills:after{
    right:0;
    left:auto;
    border-width:400px 30px 0 10px; /* right border (top as max box height) */
}
.slanted-top:before{
    position:absolute;
    top:0;
    border-color:transparent;
    border-left-color:tan;
    border-width:20px 0 0 400px; /* top border width+padding (left as box length) */
}
.slanted-top{
    padding:10px;
    background:tan; /* background-color same as borders */
}

#skills a{
    display:block;
    margin:.75em;
    text-decoration:none;
    color: #010D00;
    font-size:1.75em;
    text-align:center;
    
}
#skills a:hover{
    height:2em;
}

.hide{
  display:none;
}
.hide ul{
  display:flex;
  flex-wrap: wrap;
  list-style:none;
  justify-content: center;
  text-align:center;
}
.hide ul li{
  font-size: 1.5rem;
  /*****CENTER TEXT NOT WORKING*****/
  
  list-style:none;
  justify-content: center;
  padding:15px;
  text-align:center;
  
}

#skills a:hover + .hide{
  display: block;
  color: #010D00;
}

#skills a:hover + .hide{
  display: block;
  color: #010D00;
}



/* Basic resets */

* { 
	margin:0; padding:0; 
	box-sizing: border-box;
}

body {
margin: 50px auto 0;
max-width: 800px;
}


li:nth-child(even) { margin-bottom: 2em;}

/* Styling an indeterminate progress bar */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;
	
	border: none;
	/*****************************************/
	/* Add dimensions */
	width: 100%; height: 20px;
	 background-color: #667353;
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
	color: royalblue;
	
	position: relative;
	margin: 0 0 .5em; 
}
progress[value]::-webkit-progress-bar {
	background-color: tan;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
progress[value]::-webkit-progress-value {
	position: relative;
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
	/* Let's animate this */
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }


progress[value]::-webkit-progress-value:after {

	content: '';
	position: absolute;
	
	width:5px; height:5px;
	top:7px; right:7px;
	
	background-color: tan;
	border-radius: 100%;
}
/******************/
progress[value]::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient( 135deg,
													 transparent,
													 transparent 33%,
													 rgba(0,0,0,.1) 33%,
													 rgba(0,0,0,.1) 66%,
													 transparent 66%),
    -moz-linear-gradient( top,
														rgba(255, 255, 255, .25),
														rgba(0,0,0,.2)),
     -moz-linear-gradient( left, #010D00, #97A681);
	
	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;
	
}
/******************************/


#experience h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:500;
  font-variant:small-caps;
}
#experience h2:before, #experience h2:after {
  background-color: #010D00;
  content: '\a0';
  flex-grow: 1;
  height: 2.5px;
  position: relative;
  top: 0.77em;
}
#experience h2:before{
 margin-right:15px;
}
#experience h2:after{
 margin-left:15px;
}
/*********education**********/
#education h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:500;
  font-variant:small-caps;
}
#education h2:before, #education h2:after {
  background-color: #010D00;
  content: '\a0';
  flex-grow: 1;
  height: 2.5px;
  position: relative;
  top: 0.77em;
}
#education h2:before{
 margin-right:15px;
}
#education h2:after{
 margin-left:15px;
}
.related-links{
  display:flex;
  justify-content:center;
  list-style:none;
  padding:0;
}
.related-links .svg-inline--fa{
  font-size:1.8em;
  padding-top:7px;
}

.related-links a{
  border:1px solid #000;
  padding:8px 10px;
  text-align:center;
  text-decoration:none;
  color:#222222;
  text-transform:uppercase;
  font-size:.65em;
  background:rgba(0,0,0,.65);
  transition: background-color 0.5s ease;
  color:#fff;
}

.related-links a:hover{
  background:rgba(127, 140, 108, .95);
}

.related-links li{
  margin-right:20px;
}
.job, .certificate{
  border-bottom:1px solid #667353;
  padding-bottom:20px;
}

.job *[itemprop="jobTitle"], 
.job *[itemprop="name"], 
.job *[itemprop="url"], 
.job *[itemprop="addressLocality"],
.certificate *[itemprop="name"]
{
  display:block;
}

.job h3{
  margin:20px 0 0 0;
}

footer{
  text-align:center;
padding:20px 0;
}

main.container{
  display:grid;
  grid-gap:1em;
  grid-template-areas:
    "title"
    "about"
    "education"
    "skills"
    "experience";
}
.page-title{
  grid-area:title;
}
#about{
  grid-area:about;
}
#skills{
  grid-area:skills;
}
#experience{
  grid-area:experience;
}
#education{
  grid-area:education;
}

/******************Media Queries******************/
@media screen and (min-width:768px){
  main.container{
    max-width:800px;
    grid-template-columns: 36.5% auto;
    grid-template-areas:
      "title title"
      "about about"
      "skills skills"
      "experience education"
  }
  header.container{
    max-width:800px;
  }
  /*Nested Grid*/
  #about{
  display:grid;
  grid-gap:2em;
  grid-template-columns: 350px 1fr auto;
  grid-template-areas:
    "bio details details"
    "related related related";
}
.bio{
  grid-area:bio;
}
.details{
  grid-area:details;
}
.related-links{
  grid-area:related;
  border-bottom:1px solid #667353;
  padding-bottom:50px
}
}
/*********DESKTOP*******/
@media screen and (min-width: 1200px){
  main.container{
    max-width:1200px;
    grid-template-columns: 350px 1fr auto;
    grid-template-areas:
      "title title title"
      "about about about"
      "education education education"
      "skills skills skills"
      "experience experience experience"
  }
    header.container{
      max-width:1200px;
}
    #about{
      display:grid;
      grid-gap:2em;
      grid-template-columns: 350px 1fr auto;
      grid-template-areas:
        "bio bio details"
        "related related related";
      }
  #education{
    text-align:center;
  }
  #experience{
    text-align:center;
  }
  #skills{
  display:block;
  position:relative;
  margin:20px auto;
  padding:20px 30px 0; /* border space */
  width:420px;
  overflow:hidden;
}
  #skills:before, #skills:after,.slanted-top:before{
  position:absolute;
  top:20px;
  left:0;
  border:solid transparent;
  border-top-color:tan;
  border-width:400px 0 0 30px; /* left border (top as max box height) */
  width:0;
  height:0;
  content:"\a0";
}
  #skills:after{
  right:0;
  left:auto;
  border-width:400px 30px 0 10px; /* right border (top as max box height) */
}
  .slanted-top:before{
    position:absolute;
    top:0;
    border-color:transparent;
    border-left-color:tan;
    border-width:20px 0 0 400px; /* top border width+padding (left as box length) */
}
  .slanted-top{
    padding:10px;
    background:tan; /* background-color same as borders */
  }
} 
/*----------------------Edge Case Tweaks-----------------------*/
@media only screen and (max-width: 460px) {
  .related-links li a svg{display:none;}
  
}

@media only screen and (max-width: 395px) {
.related-links{
flex-direction:column;

}
.related-links a{
display:block;
  }  
}