/****************************************************************************
*******************************GLOBAL STYLES*********************************
****************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 8px auto 0;
  max-width: 480px;
  background-color: #9b908e;
}

.primary h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 0;
}
.primary h1 a {
  display: block;
  height: 180px;
  justify-content: center;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.primary nav {
  background-color: #272828;
}
.primary nav ul {
  list-style-type: none;
  margin-left: 10px;
  text-align: center;
}
.primary nav ul li {
  display: inline;
  margin: 6px;
}
.primary nav ul li a {
  display: inline-block;
  padding: 10px;
  font-size: 1.8em;
  border: 3px double #824992;
  border-radius: 10px;
}
.primary nav ul li a:link, .primary nav ul li a:visited {
  text-decoration: none;
  color: #1D9395;
}
.primary nav ul li a:hover {
  background-color: #c0c0c0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ------ Fluid Images -------*/
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****************************************************************************
*******************************LANDING STYLES*********************************
****************************************************************************/
.vid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-info {
  font-family: "Quicksand", sans-serif;
  text-indent: 30px;
  font-size: 1.1em;
}
.site-info #writing {
  font-style: italic;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

/****************************************************************************
*****************************EMPTINESS STYLES*******************************
****************************************************************************/
.wrapper {
  margin: 0 auto;
  padding: 10px;
  background-color: #272828;
  font-family: "Quicksand", sans-serif;
  color: #9b908e;
}
.wrapper .box-header {
  text-align: center;
  margin: 0;
  padding: 6px;
}
.wrapper .box-header h1 {
  text-align: center;
  font-size: 3em;
  margin: 10px;
  color: #9b908e;
}
.wrapper p {
  text-indent: 50px;
}
.wrapper .empty1 #door {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}
.wrapper .empty1 .arm {
  padding: 6px;
}
.wrapper .empty6 .hands {
  padding: 6px;
}
.wrapper .empty6 .tattoo {
  padding: 6px;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: red;
  float: right;
  padding: 10px;
}

/****************************************************************************
********************************HALL STYLES**********************************
****************************************************************************/
.house-img {
  padding: 6px;
}

.eyes-img {
  padding: 6px;
}

.hall-img {
  padding: 6px;
}

/****************************************************************************
*******************************NOBLE STYLES**********************************
****************************************************************************/
.bed-img {
  padding: 6px;
}

.road-img {
  padding: 6px;
}

.mom-img {
  padding: 6px;
}

/****************************************************************************
****************************CLOSE CALL STYLES*******************************
****************************************************************************/
#content{
    max-width:800px;
    display: flex;
    flex-direction: column;
  }
  .one{
    background-color: #fbf972a5;
    font-size:1.2em;
    padding:12px;
  }
  .one p{
    text-indent: 50px;
  }
  .one h1{
    text-align: center;
  }
  .two{
    background-color:#9b908e;
    font-size:1.2em;
    color: black; 
    padding:12px;
    
  }
  
  .three{
    background-color: #fbf972a5;
    padding:12px;
    font-size:1.2em;
  }
  #va-drinking{
    border: 5px ridge black;
    padding: 6px 12px 6px 20px;
    margin-left: 0.5rem;
    margin-right:20px;
    margin-top:10px;
    float: right;
    width: 40%;
    text-indent:20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
  }
  #va-drinking ul li{
    list-style:inside;
    text-indent:20px;
  }
  .ptsd{
    display:inline; 
    background-color: #eeeb55a5;
    font-family: 'Cormorant', serif;
    font-size:1.2em;
    padding-left:12px;
  }
  .close-header{
    text-align:center;
    background-image: url("../img/tornado1.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    
  }
  #before{
    padding:12px;
  }
  #before p{
    text-indent: 50px;
    margin-right:20px;
    margin-left:20px;
  }
  /*figure{
    border: 5px ridge black;
    float: left;
    margin-right: 20px;
  }*/
  figcaption{
    text-align: center;
  }
  #flick{
    border: 5px ridge black;
    float: left;
    margin-right: 20px;
  }
  nav{
    background-color: #0f0f0f;
  }
  nav ul{
    margin-left:10px;
    text-align:center;
  }
  nav ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline;
  }
  nav ul li a{
    display: inline-block;
    padding-right:10px;
    padding-left:10px;
    font-size:2.8em;
  }
  nav ul li a:link, nav ul li a:visited {
    text-decoration:none;
    color:#6c7391;
  }
  nav ul li a:hover {
    border-width: 3px;
    border-style: solid;
    border-color: #CCC;
  }
  .click{
    font-size: 2.8em;
    text-align: center;
    margin-bottom: 20px;
  }
  .click:link, .click a:visited{
    text-decoration:none;
    color:#6c7391;
  }
  .click:hover {
    border-width: 3px;
    border-style: ridge;
    border-color: #CCC;
  }
  #damage{
    border: 5px ridge black;
    float: right;
    margin-right: 20px;
  }
  .ending-1{
    text-indent: 50px;
    margin-right:20px;
    margin-left:20px;
  }
  .ending-2{
    text-indent: 50px;
    margin-right:20px;
    margin-left:20px;
  }
  #guilt{
    border: 5px ridge black;
    padding: 6px 12px 6px 20px;
    margin-left: 0.5rem;
    margin-right:20px;
    float: right;
    width: 40%;
    text-indent:20px;
    font-family: 'Cormorant', serif;
    font-style: italic;
  }
  #before{
    display: inline;
  }
  #before h2{
    text-align: center;
  }
  .call-img{
    display: inline;
    margin: auto;
    padding: 0;
    grid-column: 1 / span 4;
    grid-row: 1;
  }
  .text-her{
    border: 2px solid #bedede;
    background-color: #919496;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-width:400px;
  }
  .text-me{
    border: 2px solid #ccc;
    background-color: #458C72;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    max-width:400px;
    
  }
  .time-right {
    float: right;
    color: #fff;
  }
  .time-left {
    float: left;
    color: #fff;
  }
  .text-her, .text-me::after {
    content: "";
    clear: both;
    display: table;
  }
  .text-her p{
    color: #fff;
    background-color: rgba(0,0,0,.5) 
  }
  .text-me p{
    color: #fff;
    background-color: rgba(0,0,0,.5) 
  }
  .call{
    border: 2px solid #ccc;
    grid-column: 5 / span 7;
    grid-row: 1;
  }
  .call-container{
    display: grid;
    grid-template-columns: repeat(12, 1fr)
  }
  #call{
    font-size: 1.3em;
  }
  #title{
    font-weight: 900;
  }
  .call-2{
    border: 2px solid #ccc;
    grid-column: 1 / span 7;
    grid-row: 1;
  }
  .call-img2{
    display: inline;
    margin: auto;
    padding: 0;
    grid-column: 8 / span 4;
    grid-row: 1;
  }
/****************************************************************************
*****************************ABOUT ME STYLES********************************
****************************************************************************/
main h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:500;
  font-variant:small-caps;
 }
 main h1:before, main h1:after {
   background-color: #010D00;
   content: '\a0';
   flex-grow: 1;
   height: 2.5px;
   position: relative;
   top: 0.77em;
 }
main h1:before{
  margin-right:15px;
}
main h1:after{
  margin-left:15px;
}
dl{
  display: grid;
  grid-template-rows:auto;
  grid-template-columns:8em 1fr;
  /*shorthand*/
  grid-template: auto / 8em 1fr;
}
dt{
  font-weight:800;
  grid-column: 1;
  padding: 10px 0;
  border-bottom:1px solid #725373;
}
dd{
  margin:0;
  grid-column: 2;
  padding: 10px 0;
  border-bottom:1px solid #37529c;
}
/*********education*********/
#education h2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  font-weight:500;
  font-variant:small-caps;
}
#education h2:before, #education h2:after {
  background-color: #1d6316;
  content: '\a0';
  flex-grow: 1;
  height: 2.5px;
  position: relative;
  top: 0.77em;
}
#education h2:before{
 margin-right:15px;
}
#education h2:after{
 margin-left:15px;
}
main.container{
  color:#038C7F;
  background-color: #272828;
  padding: 6px;
  display:grid;
  grid-gap:1em;
  grid-template-areas:
    "title"
    "about"
    "education";
}
.page-title{
  grid-area:title;
}
#about{
  grid-area:about;
}
#education{
  grid-area:education;
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */