/****************************************************************************
*******************************GLOBAL STYLES*********************************
****************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 8px auto 0;
  max-width: 480px;
  background-color: #9b908e;
}

.primary h1 {
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 0;
}
.primary h1 a {
  display: block;
  height: 180px;
  justify-content: center;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.primary nav {
  background-color: #272828;
}
.primary nav ul {
  list-style-type: none;
  margin-left: 10px;
  text-align: center;
}
.primary nav ul li {
  display: inline;
  margin: 6px;
}
.primary nav ul li a {
  display: inline-block;
  padding: 10px;
  font-size: 1.8em;
  border: 3px double #824992;
  border-radius: 10px;
}
.primary nav ul li a:link, .primary nav ul li a:visited {
  text-decoration: none;
  color: #1D9395;
}
.primary nav ul li a:hover {
  background-color: #c0c0c0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* ------ Fluid Images -------*/
img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/****************************************************************************
*******************************LANDING STYLES*********************************
****************************************************************************/
.vid {
  margin-top: 20px;
  margin-bottom: 20px;
}

.site-info {
  font-family: "Quicksand", sans-serif;
  text-indent: 30px;
  font-size: 1.1em;
}
.site-info #writing {
  font-style: italic;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer {
  margin: 20px;
  padding: 10px;
  text-align: center;
}

/****************************************************************************
*****************************EMPTINESS STYLES*******************************
****************************************************************************/
.wrapper {
  margin: 0 auto;
  background-color: #272828;
  font-family: "Quicksand", sans-serif;
}
.wrapper .box-header {
  text-align: center;
  margin: 0;
  padding: 0;
}
.wrapper .box-header h1 {
  text-align: center;
  font-size: 3em;
  margin: 10px;
  color: #9b908e;
}
.wrapper p {
  text-indent: 50px;
}
.wrapper .empty1 #door {
  text-align: center;
  font-size: 1.6em;
  font-weight: bold;
}

.iframe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: red;
  float: right;
  padding: 10px;
}

/****************************************************************************
********************************HALL STYLES**********************************
****************************************************************************//*# sourceMappingURL=style.css.map */